*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider-container {
  height: 100vh;
  width: 100vw;
  background-color: #f39f86;
  background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
}

.slider {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider i {
  padding: 0 20px;
  font-size: 50px;
  color: black;
  cursor: pointer;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider i:hover {
  opacity: 0.7;
}

img {
  border-radius: 10px;
  border: 3px solid #ffff;
  filter: brightness(110%);
}
