*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider-container {
  height: 100vh;
  width: 100vw;
  background-color: #eeee;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

i {
  padding: 0 20px;
  font-size: 50px;
  color: green;
  cursor: pointer;
}

i:hover {
  opacity: 0.7;
}
